/*
 * dts overlay file for XDP (Xilinx Drone Platform) board
 *
 * (C) Copyright 2019, Topic Embedded Products BV
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/clock/xlnx-zynqmp-clk.h>
#include <dt-bindings/media/xilinx-vip.h>

/ {
	/* This fragment causes the FPGA image to load */
	fragment@0 {
		target = <&fpga_full>;
		__overlay__ {
			firmware-name = "fpga.bin.fpga-image-xdp-reference";
		};
	};

	/* root */
	fragment@1 {
		target-path = "/";
		__overlay__ {

			qmfoc {
				compatible = "qdesys,qmfoc-1.00.a";
			};	

			sdio_wifi_pwrseq: sdio_wifi_pwrseq {
				compatible = "mmc-pwrseq-simple";
				reset-gpios = <&gpio 100 GPIO_ACTIVE_HIGH>; /* EMIO 22 = WIFI_ENABLE */
				post-power-on-delay-ms = <1>; /* 100 us according to datasheet */
			};

			/* Enable for Bluetooth */
			reg_ble: regulator_ble {
				compatible = "regulator-fixed";
				regulator-name = "pwr-ble";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				enable-active-high;
				gpio = <&gpio 84 0>; /* EMIO 6 */
				startup-delay-us = <100>;
				/* No power control (yet), just turn it on please */
				regulator-boot-on;
				regulator-always-on;
			};

			/* VCU clock */
			misc_clk_5: misc_clk_5 {
				#clock-cells = <0>;
				clock-frequency = <33002765>;
				compatible = "fixed-clock";
			};
		};
	};

	/* uart0 for EMIO (GPS module) */
	fragment@2 {
		target = <&uart0>;
		__overlay__ {
			status = "okay";
			current-speed = <9600>; /* GPS module */
		};
	};

	fragment@3 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
			num-cs = <2>;

			/* Gyro Sensor */
			bmi088_gyro: bmi088_gyro@0 {
				compatible = "bmi088_gyro";
				reg = <0>;
				spi-max-frequency = <10000000>;
				interrupt-parent = <&gpio>;
				interrupts = <92 IRQ_TYPE_EDGE_RISING>; /* INT0 at EMIO 14, INT1 is at 15 */
			};


			/* Accelero sensor */
			bmi088_accel: bmi088_accel@1 {
				compatible = "bmi088_accel";
				reg = <1>;
				spi-max-frequency = <10000000>;
				interrupt-parent = <&gpio>;
				interrupts = <90 IRQ_TYPE_EDGE_RISING>; /* INT0 at EMIO 12, INT1 is at 13 */
			};
		};
	};

	fragment@4 {
		target = <&spi1>;
		__overlay__ {
			status = "okay";
			num-cs = <2>;

			/* Environmental Sensor */
			bme680_env: bme680_env@0 {
				compatible = "bme680";
				reg = <0>;
				spi-max-frequency = <10000000>;
			};

			/* Magneto Sensor */
			bmm150_magn: bmm150_magn@1 {
				compatible = "bmm150_magn";
				reg = <1>;
				spi-max-frequency = <10000000>;
				interrupt-parent = <&gpio>;
				interrupts = <94 IRQ_TYPE_EDGE_RISING>; /* DRDY at EMIO 16, INT is at 17 */
			};
		};
	};

	/* FPGA AXI memory map */
	fragment@5 {
		target = <&amba>;
		__overlay__ {

			/* Faster video clock */
			misc_clk_6: misc_clk_6 {
				#clock-cells = <0>;
				clock-frequency = <333027650>;
				compatible = "fixed-clock";
			};

			/* FAN controller */
			pl_fan_controller: fan-controller@a0012000 {
				compatible = "topic,axi-pwm-fan-controller";
				reg = <0x0 0xa0012000 0x0 0x1000>;
				nr-fans = <1>;
				clocks = <&zynqmp_clk PL0_REF>;
				topic,initial-pwm = <0x80>; /* Run at 50% */
			};

			/* UART 16550 controller for BT */
			axi_uart16550_0: serial@a0010000 {
				clock-names = "ref_clk";
				clocks = <&zynqmp_clk PL0_REF>;
				compatible = "xlnx,xps-uart16550-2.00.a", "ns16550a";
				current-speed = <115200>;
				device_type = "serial";
				interrupt-parent = <&gic>;
				interrupts = <0 89 4>; /* pl_ps_0[0] */
				reg = <0x0 0xA0010000 0x0 0x2000>;
				reg-offset = <0x1000>;
				reg-shift = <2>;
				/* These properties aren't actually used anywhere by the driver */
				xlnx,use-modem-ports = <0x1>;
				xlnx,use-user-ports = <0x1>;
			};

			/* MIPI Camera 0 */
			mipi_cam_0_axi_iic: i2c@a0130000 {
				#address-cells = <1>;
				#size-cells = <0>;
				clock-names = "s_axi_aclk";
				clocks = <&zynqmp_clk PL0_REF>;
				compatible = "xlnx,axi-iic-2.0", "xlnx,xps-iic-2.00.a";
				interrupt-names = "iic2intc_irpt";
				interrupt-parent = <&gic>;
				interrupts = <0 92 4>; 
				reg = <0x0 0xa0130000 0x0 0x10000>;

				mipi_cam_0_imx274: sensor@1a{
					compatible = "sony,imx274";
					reg = <0x1a>;
					#address-cells = <1>;
					#size-cells = <0>;
					reset-gpios = <&gpio 78 GPIO_ACTIVE_HIGH>;

					port@0 {
						reg = <0>;

						mipi_cam_0_imx274_out: endpoint {
							remote-endpoint = <&mipi_cam_0_csiss_in>;
							clock-lanes = <0>;
							data-lanes = <1 2 3 4>;
						};
					};
				}; 
			};

			mipi_cam_0_csiss: csiss@a00f0000 {
				clock-names = "lite_aclk", "dphy_clk_200M", "video_aclk";
				clocks = <&zynqmp_clk PL0_REF>, <&si5341 0 6>, <&misc_clk_6>; 
				 
				compatible = "xlnx,mipi-csi2-rx-subsystem-4.1", "xlnx,mipi-csi2-rx-subsystem-4.0";
				interrupt-names = "csirxss_csi_irq";
				interrupt-parent = <&gic>;
				interrupts = <0 91 4>;
				reg = <0x0 0xa00f0000 0x0 0x10000>;
				xlnx,axis-tdata-width = <32>;
				xlnx,cal-mode = "NONE";
				xlnx,clk-io-swap = "false";
				xlnx,clk-lane-io-position = <0x1a>;
				xlnx,clk-lp-io-swap = "false";
				xlnx,csi-en-activelanes = "true";
				xlnx,csi-en-crc = "true";
				xlnx,csi-filter-userdatatype = "true";
				xlnx,csi-opt1-regs = "false";
				xlnx,csi-pxl-format = "RAW10";
				xlnx,csi2rx-dbg = <0x0>;
				xlnx,data-lane0-io-position = <0x2>;
				xlnx,data-lane1-io-position = <0x4>;
				xlnx,data-lane2-io-position = <0x6>;
				xlnx,data-lane3-io-position = <0x8>;
				xlnx,dl0-io-swap = "false";
				xlnx,dl0-lp-io-swap = "false";
				xlnx,dl1-io-swap = "false";
				xlnx,dl1-lp-io-swap = "false";
				xlnx,dl2-io-swap = "false";
				xlnx,dl2-lp-io-swap = "false";
				xlnx,dl3-io-swap = "false";
				xlnx,dl3-lp-io-swap = "false";
				xlnx,dphy-lanes = <0x4>;
				xlnx,dphy-mode = "SLAVE";
				xlnx,en-active-lanes ;
				xlnx,en-bg0-pin0 = "false";
				xlnx,en-bg0-pin6 = "false";
				xlnx,en-bg1-pin0 = "false";
				xlnx,en-bg1-pin6 = "false";
				xlnx,en-bg2-pin0 = "false";
				xlnx,en-bg2-pin6 = "false";
				xlnx,en-bg3-pin0 = "false";
				xlnx,en-bg3-pin6 = "false";
				xlnx,en-clk300m = "false";
				xlnx,en-csi-v2-0 = "false";
				xlnx,en-exdesigns = "false";
				xlnx,en-timeout-regs = "false";
				xlnx,en-vcx = "false";
				xlnx,esc-timeout = <0x6400>;
				xlnx,fifo-rd-en-control = "true";
				xlnx,hs-line-rate = <0x5a0>;
				xlnx,hs-settle-ns = <0x8d>;
				xlnx,hs-timeout = <0x10005>;
				xlnx,idly-group-name = "mipi_csi2rx_idly_group";
				xlnx,idly-tap = <0x1>;
				xlnx,init = <0x186a0>;
				xlnx,is-7series = "false";
				xlnx,max-lanes = <0x4>;
				xlnx,mipi-slv-int = <0x0>;
				xlnx,ppc = <0x2>;
				xlnx,share-idlyctrl = "false";
				xlnx,vc = <0x4>;
				xlnx,vfb ;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					
					port@0 {
						reg = <0>;
						xlnx,cfa-pattern = "rggb";
						xlnx,video-format = <XVIP_VF_MONO_SENSOR>;
						xlnx,video-width = <8>;

						mipi_cam_0_csiss_out: endpoint {
							remote-endpoint = <&mipi_cam_0_demosaic_in>;
						};
					};
					port@1 {
						reg = <1>;
						xlnx,cfa-pattern = "rggb";
						xlnx,video-format = <XVIP_VF_MONO_SENSOR>;
						xlnx,video-width = <8>;

						mipi_cam_0_csiss_in: endpoint {
							remote-endpoint = <&mipi_cam_0_imx274_out>;
							data-lanes = <1 2 3 4>;
						};
					};
				}; 
			};

			mipi_cam_0_demosaic: demosaic@a0140000 {
				compatible = "xlnx,v-demosaic-1.0", "xlnx,v-demosaic";
				reg = <0x0 0xa0140000 0x0 0x10000>;
				clock-names = "ap_clk";
				clocks = <&misc_clk_6>;
				interrupt-names = "interrupt";
				interrupt-parent = <&gic>;
				interrupts = <0 107 4>;
				reset-gpios = <&gpio 104 GPIO_ACTIVE_LOW>; 
				xlnx,max-height = <2160>;
				xlnx,max-width = <3840>;
				xlnx,s-axi-ctrl-addr-width = <6>;
				xlnx,s-axi-ctrl-data-width = <32>;

				assigned-clocks        = <&si5341 1 0>, <&si5341 0 6>;
				assigned-clock-parents = <0>,           <&si5341 1 0>;
				assigned-clock-rates   = <400000000>,   <200000000>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						
						xlnx,cfa-pattern = "rggb";
						xlnx,video-width = <8>;

						mipi_cam_0_demosaic_in: endpoint {
							remote-endpoint = <&mipi_cam_0_csiss_out>;
						};
					};

					
					port@1 {
						reg = <1>;
						xlnx,cfa-pattern = "rggb";
						xlnx,video-width = <8>;

						mipi_cam_0_demosaic_out: endpoint {
							remote-endpoint = <&mipi_cam_0_ss_in>;
						};
					};
				};
			};

			mipi_cam_0_ss: v_proc_ss_csc@a0100000 {
				#dma-cells = <1>;
				compatible = "xlnx,v-vpss-csc";
				clock-names = "aclk";
				clocks = <&misc_clk_6>;				
				reg = <0x0 0xa0100000 0x0 0x10000>;
				reset-gpios = <&gpio 108 GPIO_ACTIVE_LOW>; 
				xlnx,colorspace-support = <0x0>;
				xlnx,csc-enable-window = "false";
				xlnx,max-height = <0x870>;
				xlnx,max-width = <0xf00>;
				xlnx,num-video-components = <0x3>;
				xlnx,samples-per-clk = <0x2>;
				xlnx,topology = <0x3>;
				xlnx,use-uram = <0x0>;
				xlnx,video-width = <0x8>;

				ports {
					#address-cells = <0x1>;
					#size-cells = <0x0>;

					port@0 {
						reg = <0x0>;
						xlnx,video-format = <XVIP_VF_RBG>;
						xlnx,video-width = <0x8>;

						mipi_cam_0_ss_in: endpoint {
							remote-endpoint = <&mipi_cam_0_demosaic_out>;
						};
					};
					
					port@1 {
						reg = <0x1>;
						xlnx,video-format = <XVIP_VF_RBG>;
						xlnx,video-width = <0x8>;

						mipi_cam_0_ss_out: endpoint {
							remote-endpoint = <&mipi_cam_0_topic_mediactl_in>;
						};
					};
				};
			};

			/* MIPI Camera 1 */
			mipi_cam_1_axi_iic: i2c@a01b0000 {
				#address-cells = <1>;
				#size-cells = <0>;
				clock-names = "s_axi_aclk";
				clocks = <&zynqmp_clk PL0_REF>;
				compatible = "xlnx,axi-iic-2.0", "xlnx,xps-iic-2.00.a";
				interrupt-names = "iic2intc_irpt";
				interrupt-parent = <&gic>;
				interrupts = <0 95 4>; 
				reg = <0x0 0xa01b0000 0x0 0x10000>;

				mipi_cam_1_imx274: sensor@1a{
					compatible = "sony,imx274";
					reg = <0x1a>;
					#address-cells = <1>;
					#size-cells = <0>;
					reset-gpios = <&gpio 79 GPIO_ACTIVE_HIGH>;

					port@0 {
						reg = <0>;

						mipi_cam_1_imx274_out: endpoint {
							remote-endpoint = <&mipi_cam_1_csiss_in>;
							clock-lanes = <0>;
							data-lanes = <1 2 3 4>;
						};
					};
				}; 
			};

			mipi_cam_1_csiss: csiss@a0180000 {
				clock-names = "lite_aclk", "dphy_clk_200M", "video_aclk";
				clocks = <&zynqmp_clk PL0_REF>, <&si5341 0 6>, <&misc_clk_6>; 
				 
				compatible = "xlnx,mipi-csi2-rx-subsystem-4.1", "xlnx,mipi-csi2-rx-subsystem-4.0";
				interrupt-names = "csirxss_csi_irq";
				interrupt-parent = <&gic>;
				interrupts = <0 94 4>;
				reg = <0x0 0xa0180000 0x0 0x10000>;
				xlnx,axis-tdata-width = <32>;
				xlnx,cal-mode = "NONE";
				xlnx,clk-io-swap = "false";
				xlnx,clk-lane-io-position = <0x1a>;
				xlnx,clk-lp-io-swap = "false";
				xlnx,csi-en-activelanes = "true";
				xlnx,csi-en-crc = "true";
				xlnx,csi-filter-userdatatype = "true";
				xlnx,csi-opt1-regs = "false";
				xlnx,csi-pxl-format = "RAW10";
				xlnx,csi2rx-dbg = <0x0>;
				xlnx,data-lane0-io-position = <0x2>;
				xlnx,data-lane1-io-position = <0x4>;
				xlnx,data-lane2-io-position = <0x6>;
				xlnx,data-lane3-io-position = <0x8>;
				xlnx,dl0-io-swap = "false";
				xlnx,dl0-lp-io-swap = "false";
				xlnx,dl1-io-swap = "false";
				xlnx,dl1-lp-io-swap = "false";
				xlnx,dl2-io-swap = "false";
				xlnx,dl2-lp-io-swap = "false";
				xlnx,dl3-io-swap = "false";
				xlnx,dl3-lp-io-swap = "false";
				xlnx,dphy-lanes = <0x4>;
				xlnx,dphy-mode = "SLAVE";
				xlnx,en-active-lanes ;
				xlnx,en-bg0-pin0 = "false";
				xlnx,en-bg0-pin6 = "false";
				xlnx,en-bg1-pin0 = "false";
				xlnx,en-bg1-pin6 = "false";
				xlnx,en-bg2-pin0 = "false";
				xlnx,en-bg2-pin6 = "false";
				xlnx,en-bg3-pin0 = "false";
				xlnx,en-bg3-pin6 = "false";
				xlnx,en-clk300m = "false";
				xlnx,en-csi-v2-0 = "false";
				xlnx,en-exdesigns = "false";
				xlnx,en-timeout-regs = "false";
				xlnx,en-vcx = "false";
				xlnx,esc-timeout = <0x6400>;
				xlnx,fifo-rd-en-control = "true";
				xlnx,hs-line-rate = <0x5a0>;
				xlnx,hs-settle-ns = <0x8d>;
				xlnx,hs-timeout = <0x10005>;
				xlnx,idly-group-name = "mipi_csi2rx_idly_group";
				xlnx,idly-tap = <0x1>;
				xlnx,init = <0x186a0>;
				xlnx,is-7series = "false";
				xlnx,max-lanes = <0x4>;
				xlnx,mipi-slv-int = <0x0>;
				xlnx,ppc = <0x2>;
				xlnx,share-idlyctrl = "false";
				xlnx,vc = <0x4>;
				xlnx,vfb ;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					
					port@0 {
						reg = <0>;
						xlnx,cfa-pattern = "rggb";
						xlnx,video-format = <XVIP_VF_MONO_SENSOR>;
						xlnx,video-width = <8>;

						mipi_cam_1_csiss_out: endpoint {
							remote-endpoint = <&mipi_cam_1_demosaic_in>;
						};
					};
					port@1 {
						reg = <1>;
						xlnx,cfa-pattern = "rggb";
						xlnx,video-format = <XVIP_VF_MONO_SENSOR>;
						xlnx,video-width = <8>;

						mipi_cam_1_csiss_in: endpoint {
							remote-endpoint = <&mipi_cam_1_imx274_out>;
							data-lanes = <1 2 3 4>;
						};
					};
				}; 
			};

			mipi_cam_1_demosaic: demosaic@a01c0000 {
				compatible = "xlnx,v-demosaic-1.0", "xlnx,v-demosaic";
				reg = <0x0 0xa01c0000 0x0 0x10000>;
				clock-names = "ap_clk";
				clocks = <&misc_clk_6>;
				interrupt-names = "interrupt";
				interrupt-parent = <&gic>;
				interrupts = <0 108 4>;
				reset-gpios = <&gpio 105 GPIO_ACTIVE_LOW>; 
				xlnx,max-height = <2160>;
				xlnx,max-width = <3840>;
				xlnx,s-axi-ctrl-addr-width = <6>;
				xlnx,s-axi-ctrl-data-width = <32>;

				assigned-clocks        = <&si5341 1 0>, <&si5341 0 6>;
				assigned-clock-parents = <0>,           <&si5341 1 0>;
				assigned-clock-rates   = <400000000>,   <200000000>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						
						xlnx,cfa-pattern = "rggb";
						xlnx,video-width = <8>;

						mipi_cam_1_demosaic_in: endpoint {
							remote-endpoint = <&mipi_cam_1_csiss_out>;
						};
					};

					
					port@1 {
						reg = <1>;
						xlnx,cfa-pattern = "rggb";
						xlnx,video-width = <8>;

						mipi_cam_1_demosaic_out: endpoint {
							remote-endpoint = <&mipi_cam_1_ss_in>;
						};
					};
				};
			};

			mipi_cam_1_ss: v_proc_ss_csc@a0040000 {
				clock-names = "aclk";
				clocks = <&misc_clk_6>;
				compatible = "xlnx,v-vpss-csc";
				reg = <0x0 0xa0040000 0x0 0x10000>;
				reset-gpios = <&gpio 109 GPIO_ACTIVE_LOW>; 
				xlnx,colorspace-support = <0x0>;
				xlnx,csc-enable-window = "false";
				xlnx,max-height = <0x870>;
				xlnx,max-width = <0xf00>;
				xlnx,num-video-components = <0x3>;
				xlnx,samples-per-clk = <0x2>;
				xlnx,topology = <0x3>;
				xlnx,use-uram = <0x0>;
				xlnx,video-width = <0x8>;

				ports {
					#address-cells = <0x1>;
					#size-cells = <0x0>;

					port@0 {
						reg = <0x0>;
						xlnx,video-format = <XVIP_VF_RBG>;
						xlnx,video-width = <0x8>;

						mipi_cam_1_ss_in: endpoint {
							remote-endpoint = <&mipi_cam_1_demosaic_out>;
						};
					};

					port@1 {
						reg = <0x1>;
						xlnx,video-format = <XVIP_VF_RBG>;
						xlnx,video-width = <0x8>;

						mipi_cam_1_ss_out: endpoint {
							remote-endpoint = <&mipi_cam_1_topic_mediactl_in>;
						};
					};
				};
			};

			mipi_cam_1_topic_mediactl: topic_mediactl@1 {
				compatible = "topic,mediactl";	
				ports {
					
					port@0 {
						reg = <0x0>;
						xlnx,video-format = <XVIP_VF_RBG>;
						xlnx,video-width = <0x8>;

						mipi_cam_0_topic_mediactl_in: endpoint {
							remote-endpoint = <&mipi_cam_0_ss_out>;
						};
					};

					port@1 {
						reg = <0x0>;
						xlnx,video-format = <XVIP_VF_RBG>;
						xlnx,video-width = <0x8>;

						mipi_cam_1_topic_mediactl_in: endpoint {
							remote-endpoint = <&mipi_cam_1_ss_out>;
						};
					};
				};			
			};

			/* VCU */
			vcu_0: vcu@a0240000 {
				#address-cells = <2>;
				#clock-cells = <1>;
				#size-cells = <2>;
				clock-names = "pll_ref", "aclk", "vcu_core_enc", "vcu_core_dec", "vcu_mcu_enc", "vcu_mcu_dec";
				clocks = <&misc_clk_5>, <&zynqmp_clk PL0_REF>, <&vcu_0 1>, <&vcu_0 2>, <&vcu_0 3>, <&vcu_0 4>;
				compatible = "xlnx,vcu-1.2", "xlnx,vcu";
				interrupt-names = "vcu_host_interrupt";
				interrupt-parent = <&gic>;
				interrupts = <0 105 4>;
				ranges ;
				reg = <0x0 0xa0240000 0x0 0x1000>, <0x0 0xa0241000 0x0 0x1000>;
				reg-names = "vcu_slcr", "logicore";
				reset-gpios = <&gpio 106 GPIO_ACTIVE_HIGH>; /* EMIO 28, actually active low but VCU driver inverts it */
				encoder: al5e@a0200000 {
					compatible = "al,al5e-1.2", "al,al5e";
					interrupt-parent = <&gic>;
					interrupts = <0 105 4>;
					reg = <0x0 0xa0200000 0x0 0x10000>;
				};
				decoder: al5d@a0220000 {
					compatible = "al,al5d-1.2", "al,al5d";
					interrupt-parent = <&gic>;
					interrupts = <0 105 4>;
					reg = <0x0 0xa0220000 0x0 0x10000>;
				};
			};

			/* GPS IIC */
			sens_gps_axi_iic: i2c@a000d000 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "xlnx,xps-iic-2.00.a";
				interrupt-parent = <&gic>;
				interrupts = <0 106 IRQ_TYPE_LEVEL_HIGH>; /* pl_ps_1[2] */
				reg = <0x0 0xa000d000 0x0 0x1000>;
				clocks = <&zynqmp_clk PL0_REF>;
				gps_i2c: gps@42 {
					reg = <0x42>;
					compatible = "ublox,zoe-m8b-0"; /* No actual driver */
				};
			};

			/* EIO board */
			eioboard_axi_iic: i2c@a0004000 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "xlnx,xps-iic-2.00.a";
				interrupt-parent = <&gic>;
				interrupts = <0 90 IRQ_TYPE_LEVEL_HIGH>; /* pl_ps_0[1] */
				reg = <0x0 0xa0004000 0x0 0x1000>;
				clocks = <&zynqmp_clk PL0_REF>;
			};

			dyplo: dyplo@a0400000 {
				compatible = "topic,dyplo-1.00.a";
				reg = <0x0 0xA0400000 0x0 0x200000>;
				interrupt-parent = <&gic>;
				interrupts = <0 111 4>; /* pl_ps_irq1[7] */
				dma-coherent; /* Using HPC port */
				nvmem-cells = <&dyplolicense>;
				nvmem-cell-names = "license";
			};
		};
	};
};
