# CONFIG_EFI_LOADER is not set
# CONFIG_CMD_RNG is not set
# CONFIG_CMD_TPM is not set
# CONFIG_BOOTMETH_EXTLINUX is not set
# CONFIG_BOOTMETH_VBE is not set
CONFIG_BOOTMETH_SCRIPT=y
# CONFIG_BUTTON is not set
# CONFIG_XILINX_GPIO is not set
# CONFIG_SLG7XL45106_I2C_GPO is not set
# CONFIG_INPUT is not set
# CONFIG_MISC is not set
# CONFIG_SPL_MISC is not set
# CONFIG_MMC_WRITE is not set
# CONFIG_MMC_HW_PARTITIONING is not set
# CONFIG_SUPPORT_EMMC_BOOT is not set
# CONFIG_MMC_UHS_SUPPORT is not set
# CONFIG_MTD_CONCAT is not set
# CONFIG_ARM_DCC is not set
# CONFIG_ZYNQ_SPI is not set
