/* Overlay devicetree for the programmable logic part of the florida-gen board */
/dts-v1/;
/plugin/;

/ {
	/* This fragment causes the FPGA image to load
	fragment@0 {
		target = <&fpga_full>;
		__overlay__ {
			firmware-name = "fpga.bin.fpga-image-pr-reference";
		};
	};
*/
	/* Only devices on X23 */
	/* S2/S3, d2,d3: nope. */
	fragment@1 {
		target-path = "/";
		__overlay__ {
			leds-emio {
				compatible = "gpio-leds";
				emio-led-d4 {
					label = "d4:green";
					gpios = <&gpio0 72 0>; /* EMIO 18 */
					linux,default-trigger = "mmc0";
				};
				emio-led-d5 {
					label = "d5:green";
					gpios = <&gpio0 73 0>; /* EMIO 19 */
				};
				emio-led-d6 {
					label = "d6:green";
					gpios = <&gpio0 74 0>; /* EMIO 20 */
				};
			};
		};
	};
};
