/*
 * dts file for tdpzu9 (Topic Developmentkit Plus) v1r1 board without PL
 *
 * (C) Copyright 2020, Topic Embedded Products BV
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

#include "zynqmp-topic-miamiplusmp.dts"

/ {
	gpio-poweroff {
		compatible = "gpio-poweroff";
		gpios = <&tdp_gpioex24 4 GPIO_ACTIVE_LOW>;
		force-pm-power-off; /* Replace the PSCI power-off callback */
	};

	gpio-key-power {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		power {
			label = "power";
			gpios = <&tdp_gpioex10 0 GPIO_ACTIVE_LOW>; /* Input 0, active low */
			linux,code = <116>; /* KEY_POWER */
			gpio-key,wakeup;
		};
	};

	/* USB PHY reset IO pin */
	usb_phy0: usb2phy0 {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&reg_1v8_miami>;
		#phy-cells = <0>;
		reset-gpios = <&gpioex 3 GPIO_ACTIVE_LOW>;
	};
	usb_phy1: usb2phy1 {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&reg_1v8_miami>;
		#phy-cells = <0>;
		reset-gpios = <&gpioex 4 GPIO_ACTIVE_LOW>;
	};

	reg_sd_sel: reg-sd-sel {
		compatible = "regulator-gpio";
		regulator-name = "SD-SEL";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio 42 0>;
		states = <3300000 0>, <1800000 1>; /* LOW = 3v3 */
		enable-active-high;
	};

	/* Enable for Bluetooth */
	reg_ble: regulator_ble {
		compatible = "regulator-fixed";
		regulator-name = "pwr-ble";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		gpio = <&tdp_gpioex24 0 0>;
		startup-delay-us = <100>;
		/* No power control (yet), just turn it on please */
		regulator-always-on;
	};
};

/* SD1 */
&sdhci1 {
	status = "okay";
	bus-width = <4>;
	xlnx,mio_bank = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
	/* Use GPIO based card detect */
	cd-gpios = <&gpio 45 GPIO_ACTIVE_LOW>;
	/* Power supply to set IO voltage */
	vqmmc-supply = <&reg_sd_sel>;
	/delete-property/ disable-wp;
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	/* GPIO expander U10 */
	tdp_gpioex10: mcp23009@20 {
		compatible = "microchip,mcp23008";
		reg = <0x20>;
		vcc-supply = <&reg_3v3_miami>;
		gpio-line-names = "PWR_BTN_IRQ_N", "PEWAKE0", "USB_OTG_OC_N0", "USB_OTG_OC_N1", "PRSNT_M2C_N0", "PRSNT_M2C_N1", "PG_M2C0", "PG_M2C1";
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio>;
		interrupts = <32 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio10pullups>;

		gpio10pullups: pinmux {
			pins =	"gpio0", "gpio1", "gpio2", "gpio3",
				"gpio4", "gpio5", "gpio6", "gpio7";
			bias-pull-up;
		};
	};

	/* GPIO expander U11 */
	tdp_gpioex11: mcp23009@23 {
		compatible = "microchip,mcp23008";
		reg = <0x23>;
		vcc-supply = <&reg_3v3_miami>;
		gpio-line-names = "USB_DIR0", "USB_DIR1", "NVC_FLT0", "NVC_FLT1", "USB_NINT0", "USB_NINT1", "USB_PRT0", "USB_PRT1";
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio>;
		interrupts = <33 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio11pullups>;

		gpio11pullups: pinmux {
			pins =	"gpio0", "gpio1", "gpio2", "gpio3",
				"gpio4", "gpio5", "gpio6", "gpio7";
			bias-pull-up;
		};

		/* DIR pins, need pull-up, configure as input for diagnostic */
		usb-dir0 {
			gpio-hog;
			gpios = <0 0>;
			input;
			line-name = "usb-dir0";
		};

		usb-dir1 {
			gpio-hog;
			gpios = <1 0>;
			input;
			line-name = "usb-dir1";
		};

		usb-flt0 {
			gpio-hog;
			gpios = <2 0>;
			input;
			line-name = "usb-flt0";
		};

		usb-flt1 {
			gpio-hog;
			gpios = <3 0>;
			input;
			line-name = "usb-flt1";
		};

		/* UFP/Sink – Upstream Facing Port */
		usb-port0 {
			gpio-hog;
			gpios = <6 0>;
			output-low;
			line-name = "usb-port0";
		};

		/* DFP/Source – Downstream Facing Port */
		usb-port1 {
			gpio-hog;
			gpios = <7 0>;
			output-high;
			line-name = "usb-port1";
		};
	};

	/* GPIO expander U24 */
	tdp_gpioex24: mcp23009@27 {
		compatible = "microchip,mcp23008";
		reg = <0x27>;
		vcc-supply = <&reg_3v3_miami>;
		gpio-line-names = "BT_EN", "WIFI_EN", "BT_HOST_WK", "BT_DEV_WK", "PWR_KILL_N", "SW1_4", "SW1_5", "SW1_6";
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio>;
		interrupts = <41 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio24pullups>;

		gpio24pullups: pinmux {
			pins =	"gpio0", "gpio1", "gpio2", "gpio3",
				"gpio4", "gpio5", "gpio6", "gpio7";
			bias-pull-up;
		};

		wifi-en {
			gpio-hog;
			gpios = <1 0>;
			output-low;
			line-name = "wifi-en";
		};
	};

	/* USB-C DRP port contoller */
	usb0_hd3ss3220: hd3ss3220@47 {
		compatible = "ti,hd3ss3220";
		reg = <0x47>;
		interrupt-parent = <&tdp_gpioex11>;
		interrupts = <4 IRQ_TYPE_LEVEL_LOW>;
		connector {
			compatible = "usb-c-connector";
			label = "USB-C-0";
			data-role = "sink";
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@1 {
					reg = <1>;
					hd3ss3220_0_ep: endpoint {
						remote-endpoint = <&usb3_0_role_switch>;
					};
				};
			};
		};
	};

	/* USB-C DRP port contoller */
	usb1_hd3ss3220: hd3ss3220@67 {
		compatible = "ti,hd3ss3220";
		reg = <0x67>;
		interrupt-parent = <&tdp_gpioex11>;
		interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		connector {
			compatible = "usb-c-connector";
			label = "USB-C-1";
			data-role = "source";
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@1 {
					reg = <1>;
					hd3ss3220_1_ep: endpoint {
						remote-endpoint = <&usb3_1_role_switch>;
					};
				};
			};
		};
	};
};

&uart1 {
	status = "disabled";
};

&usb0 {
	status = "okay";
};

&dwc3_0 {
	status = "okay";
	dr_mode = "peripheral"; /* "host", "peripheral" or "otg" */
	/* refclk0 from clock synth */
	assigned-clocks = <&si5345 0 3>;
	assigned-clock-rates = <100000000>;
	phy-names = "usb3-phy";
	phys = <&psgtr 1 PHY_TYPE_USB3 0 0>;
	maximum-speed = "super-speed";
	snps,usb3_lpm_capable;
	usb-phy = <&usb_phy0>;
	port {
		usb3_0_role_switch: endpoint {
			remote-endpoint = <&hd3ss3220_0_ep>;
		};
	};
};

&usb1 {
	status = "okay";
};

&dwc3_1 {
	status = "okay";
	dr_mode = "host";
	/* refclk0 from clock synth */
	assigned-clocks = <&si5345 0 3>;
	assigned-clock-rates = <100000000>;
	phy-names = "usb3-phy";
	phys = <&psgtr 3 PHY_TYPE_USB3 1 0>;
	maximum-speed = "super-speed";
	snps,usb3_lpm_capable;
	usb-phy = <&usb_phy1>;
	port {
		usb3_1_role_switch: endpoint {
			remote-endpoint = <&hd3ss3220_1_ep>;
		};
	};
};

&pcie {
	status = "okay";
	phys = <&psgtr 0 PHY_TYPE_PCIE 0 0>;
	/* refclk0 from clock synth */
	assigned-clocks      = <&si5345 0 3>;
	assigned-clock-rates =   <100000000>;
};

&gpio {
	/* SD 1v8 select signal, keep low for now to force 3v3 mode */
	usd-sw-sel {
		gpio-hog;
		gpios = <43 0>;
		output-low;
		line-name = "uSD_SW_SEL";
	};
	eth-led1 {
		gpio-hog;
		gpios = <86 0>; /* EMIO 8 */
		input;
		line-name = "eth_led1";
	};
	eth-switch-ctrl {
		gpio-hog;
		gpios = <87 0>; /* EMIO 9 */
		output-low;
		line-name = "eth_switch_ctrl";
	};
	eth-config-fpga {
		gpio-hog;
		gpios = <88 0>; /* EMIO 10 */
		output-high;
		line-name = "eth_config_fpga";
	};
	eth-clk-switch-ctrl {
		gpio-hog;
		gpios = <89 0>; /* EMIO 11 */
		output-low;
		line-name = "eth_clk_switch_ctrl";
	};
};

/* Carrier provides VBAT for RTC */
&rtc {
	status = "okay";
};

&gpio {
	sd1-wp {
		gpio-hog;
		gpios = <44 0>;
		input;
		line-name = "SD1_WP";
	};
};

&si5345 {
	out@8 {
		/delete-property/ always-on;
	};
};

&pinctrl0 {
	status = "okay";

	pinctrl_sdhci1_default: sdhci1-sd-default {
		/* SD using pins 46 .. 51 in 4-bit mode */
		mux {
			groups = "sdio1_2_grp";
			function = "sdio1";
		};
		conf {
			groups = "sdio1_2_grp";
			slew-rate = <SLEW_RATE_FAST>;
			io-standard = <IO_STANDARD_LVCMOS18>;
			bias-disable;
		};

		/* Card detect on pin 45 */
		mux-cd {
			groups = "gpio0_45_grp";
			function = "gpio0";
		};
		conf-cd {
			groups = "gpio0_45_grp";
			bias-high-impedance;
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
			bias-pull-up;
		};

		mux-wp {
			groups = "sdio1_wp_0_grp";
			function = "sdio1_wp";
		};

		conf-wp {
			groups = "sdio1_wp_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};
	};
};
