/*
 * dts file for ttpzu9 (Topic Testboard Plus) board without PL
 *
 * (C) Copyright 2020, Topic Embedded Products BV
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

#include "zynqmp-topic-miamiplusmp.dts"

/ {
	/* XTAL for Si5341 */
	xtal48MHz: xtal_48_clock {
		compatible = "fixed-clock";
		#clock-cells = <0x0>;
		clock-frequency = <48000000>;
	};

	gpio-poweroff {
		compatible = "gpio-poweroff";
		gpios = <&ttp_gpioex 7 GPIO_ACTIVE_LOW>;
		force-pm-power-off; /* Replace the PSCI power-off callback */
	};

	/* Regulator for the 5V USB VBUS power line. */
	reg_usb0_vbus: regulator_usb0 {
		compatible = "regulator-fixed";
		regulator-name = "usb0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&ttp_gpioex 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
	reg_usb1_vbus: regulator_usb1 {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&ttp_gpioex 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	/* USB PHY reset IO pin */
	usb_phy0: usb2phy0 {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&reg_1v8_miami>;
		#phy-cells = <0>;
		reset-gpios = <&gpioex 3 GPIO_ACTIVE_LOW>;
	};
	usb_phy1: usb2phy1 {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&reg_1v8_miami>;
		#phy-cells = <0>;
		reset-gpios = <&gpioex 4 GPIO_ACTIVE_LOW>;
	};
};

/* SD1 */
&sdhci1 {
	status = "okay";
	bus-width = <4>;
	xlnx,mio_bank = <1>;
	no-1-8-v; /* No UHS capability, 3v3 only */
	disable-wp;
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	/* EEPROM */
	ttp_eeprom: eeprom@57 {
		compatible = "atmel,24c64";
		reg = <0x57>;
		pagesize = <32>;
		#address-cells = <1>;
		#size-cells = <1>;
	};

	/* Voltage monitoring chips */
	voltmon4c: ltc2990@4c {
		compatible = "lltc,ltc2990";
		reg = <0x4c>;
		lltc,meas-mode = <7 3>; /* Voltage mode */
	};
	voltmon4d: ltc2990@4d {
		compatible = "lltc,ltc2990";
		reg = <0x4d>;
		lltc,meas-mode = <7 3>; /* Voltage mode */
	};
	voltmon4e: ltc2990@4e {
		compatible = "lltc,ltc2990";
		reg = <0x4e>;
		lltc,meas-mode = <7 3>; /* Voltage mode */
	};

	/* GPIO expander */
	ttp_gpioex: pca9534@27 {
		compatible = "nxp,pca9534";
		reg = <0x27>;
		vcc-supply = <&reg_3v3_miami>;
		gpio-line-names = "USB_HOST_OC_N", "SOM_RST_N_MIAM", "USB_HOST_EN", "VBAT_EN", "USB_OTG_EN", "USB_OTG_OC_N", "PEWAKE0", "N_PWR_KILL";
		gpio-controller;
		#gpio-cells = <2>;
	};

	/* Programmable clock */
	si5341: si5341@75 {
		reg = <0x75>;
		compatible = "silabs,si5341";
		#clock-cells = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&xtal48MHz>;
		clock-names = "xtal";

		silabs,pll-m-num = <13600>; /* PLL at 13.6 GHz */
		silabs,pll-m-den = <48>;
		silabs,reprogram; /* Chips are not programmed, always reset */

		assigned-clocks = <&si5341 1 0>,
				  <&si5341 1 1>,
				  <&si5341 1 2>,
				  <&si5341 1 3>,
				  <&si5341 1 4>,
				  <&si5341 0 0>,
				  <&si5341 0 1>,
				  <&si5341 0 2>,
				  <&si5341 0 3>,
				  <&si5341 0 4>,
				  <&si5341 0 5>,
				  <&si5341 0 6>,
				  <&si5341 0 7>,
				  <&si5341 0 8>,
				  <&si5341 0 9>;
		assigned-clock-parents = <0>, <0>, <0>, <0>, <0>,
					<&si5341 1 0>,
					<&si5341 1 0>,
					<&si5341 1 0>,
					<&si5341 1 0>,
					<&si5341 1 0>,
					<&si5341 1 0>,
					<&si5341 1 0>,
					<&si5341 1 0>,
					<&si5341 1 0>,
					<&si5341 1 0>;
		assigned-clock-rates =	<400000000>, /* synth 0 */
					<0>,
					<0>,
					<0>,
					<0>,
					<100000000>, /* out 0 */
					<100000000>,
					<100000000>,
					<100000000>,
					<100000000>,
					< 25000000>, /* out 5 */
					<100000000>,
					<100000000>,
					<100000000>,
					<100000000>;

		out@0 {
			reg = <0>;
			silabs,format = <1>; /* LVDS 1v8 */
			silabs,common-mode = <13>;
			silabs,amplitude = <3>;
			always-on;
		};

		out@1 {
			reg = <1>;
			silabs,format = <1>; /* LVDS 1v8 */
			silabs,common-mode = <13>;
			silabs,amplitude = <3>;
			always-on;
		};

		out@2 {
			reg = <2>;
			silabs,format = <1>; /* LVDS 1v8 */
			silabs,common-mode = <13>;
			silabs,amplitude = <3>;
			always-on;
		};

		out@3 {
			reg = <3>;
			silabs,format = <1>; /* LVDS 1v8 */
			silabs,common-mode = <13>;
			silabs,amplitude = <3>;
			always-on;
		};

		out@4 {
			reg = <4>;
			silabs,format = <2>; /* HCSL 1v8 (?) */
			silabs,common-mode = <13>;
			silabs,amplitude = <3>;
			always-on;
		};

		out@5 {
			reg = <5>;
			silabs,format = <4>; /* CMOS */
			silabs,common-mode = <3>; /* TODO: Correct values... */
			silabs,amplitude = <3>; /* TODO: Correct values... */
		};

		out@6 {
			reg = <6>;
			silabs,format = <1>; /* LVDS 3v3 */
			silabs,common-mode = <3>;
			silabs,amplitude = <3>;
		};

		out@7 {
			reg = <7>;
			silabs,format = <1>; /* LVDS 3v3 */
			silabs,common-mode = <3>;
			silabs,amplitude = <3>;
		};
	};
};

&si5345 {
	out@0 {
		always-on;
	};
	out@1 {
		always-on;
	};
	out@4 {
		always-on;
	};
	out@6 {
		always-on;
	};
	out@7 {
		always-on;
	};
	out@9 {
		always-on;
	};
};

&usb0 {
	status = "okay";
	/* see: https://forums.xilinx.com/t5/Embedded-Linux/Zynqmp-USB2-0/td-p/790522/page/2 */
	/delete-property/ clocks;
	/delete-property/ clock-names;
	clocks = <&zynqmp_clk USB0_BUS_REF>;
	clock-names = "bus_clk";
};

&uart1 {
	status = "disabled";
};

&dwc3_0 {
	status = "okay";
	dr_mode = "otg"; /* "host", "peripheral" or "otg" */
	maximum-speed = "high-speed"; /* super-speed not available on carrier */
	/* see: https://forums.xilinx.com/t5/Embedded-Linux/Zynqmp-USB2-0/td-p/790522/page/2 */
	snps,dis_u2_susphy_quirk;
	snps,dis_u3_susphy_quirk;
	/delete-property/ phy-names;
	/delete-property/ phys;
	/delete-property/ snps,usb3_lpm_capable;
	usb-phy = <&usb_phy0>;
	vbus-supply = <&reg_usb0_vbus>;
	connector {
		compatible = "usb-b-connector";
		label = "micro-USB-otg";
		type = "micro";
	};
};

&usb1 {
	status = "okay";
};

&dwc3_1 {
	status = "okay";
	dr_mode = "host";
	/* refclk for USB3 from clock synth */
	assigned-clocks      = <&si5345 0 8>;
	assigned-clock-rates = <100000000>;
	phy-names = "usb3-phy";
	phys = <&lane3 PHY_TYPE_USB3 1 3 100000000>;
	maximum-speed = "super-speed";
	snps,usb3_lpm_capable;
	usb-phy = <&usb_phy1>;
	vbus-supply = <&reg_usb1_vbus>;
	connector {
		compatible = "usb-b-connector";
		label = "USB3";
	};
};

&pcie {
	status = "okay";
	phys = <&lane0 PHY_TYPE_PCIE 0 0 100000000>,
	       <&lane1 PHY_TYPE_PCIE 1 0 100000000>;
	/* refclk0 from clock synth, GTR clock and M2 clock */
	assigned-clocks      = <&si5345 0 0>, <&si5341 0 4>;
	assigned-clock-rates =   <100000000>,   <100000000>;
};

&gpio {
	eth-led1 {
		gpio-hog;
		gpios = <86 0>; /* EMIO 8 */
		input;
		line-name = "eth_led1";
	};
	eth-switch-ctrl {
		gpio-hog;
		gpios = <87 0>; /* EMIO 9 */
		output-low;
		line-name = "eth_switch_ctrl";
	};
	eth-config-fpga {
		gpio-hog;
		gpios = <88 0>; /* EMIO 10 */
		output-high;
		line-name = "eth_config_fpga";
	};
	eth-clk-switch-ctrl {
		gpio-hog;
		gpios = <89 0>; /* EMIO 11 */
		output-low;
		line-name = "eth_clk_switch_ctrl";
	};
};

&serdes {
	status = "okay";
};

/* Postpone ethernet until after FPGA programming to workaround "spike" on IO pads issue */
&gem2 {
	status = "disabled";
};

/* Carrier provides VBAT for RTC */
&rtc {
	status = "okay";
};
