[Unit]
Description=Expansion board detection and board init
DefaultDependencies=no
Wants=fpga-firmware-load.service
After=fpga-firmware-load.service

[Service]
Type=oneshot
ExecStart=@BINDIR@/tdpzu-hwdetect.sh
RemainAfterExit=yes

[Install]
RequiredBy=systemd-modules-load.service
WantedBy=multi-user.target
