[Unit]
Description=FPGA bitstream loader
DefaultDependencies=no
Wants=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
Type=oneshot
ExecStart=@BINDIR@/fpga-firmware-load.sh
RemainAfterExit=yes

[Install]
RequiredBy=systemd-modules-load.service
WantedBy=multi-user.target
