/* Overlay devicetree for the programmable logic part */
/dts-v1/;
/plugin/;

#include <dt-bindings/clock/xlnx-zynqmp-clk.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	/* This fragment causes the FPGA image to load */
	fragment@0 {
		target = <&fpga_full>;
		__overlay__ {
			firmware-name = "fpga.bin.fpga-image-tdp-reference";
		};
	};

	/* User LEDs */
	fragment@1 {
		target-path = "/";
		__overlay__ {
			leds-pl {
				compatible = "gpio-leds";
				user_led_1 {
					label = "pl-user:green";
					gpios = <&gpio 83 GPIO_ACTIVE_LOW>; /* EMIO 5 */
					linux,default-trigger = "mmc0"; /* Blink on eMMC activity */
				};
				gp-led-0 {
					label = "gp0:green";
					gpios = <&gpio 94 GPIO_ACTIVE_LOW>; /* EMIO 16 */
					linux,default-trigger = "disk-activity"; /* Blink when NVME disk is working */
				};
				gp-led-1 {
					label = "gp1:green";
					gpios = <&gpio 95 GPIO_ACTIVE_LOW>; /* EMIO 17 */
					linux,default-trigger = "mmc1";
				};
				gp-led-2 {
					label = "gp2:green";
					gpios = <&gpio 96 GPIO_ACTIVE_LOW>; /* EMIO 18 */
					linux,default-trigger = "mtd";
				};
				gp-led-3 {
					label = "gp3:green";
					gpios = <&gpio 97 GPIO_ACTIVE_LOW>; /* EMIO 19 */
					linux,default-trigger = "bluetooth-power";
				};
			};
		};
	};

	fragment@2 {
		target = <&amba>;
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <2>;
			interrupt-parent = <&gic>;

			 /* temperature sensor on i2c Uses lm75 hwmon driver */
			axi_iic_0: i2c@80009000 {
				#address-cells = <1>;
				#size-cells = <0>;
				clock-names = "s_axi_aclk";
				clocks = <&zynqmp_clk PL0_REF>;
				compatible = "xlnx,axi-iic-2.0", "xlnx,xps-iic-2.00.a";
				interrupt-names = "iic2intc_irpt";
				interrupt-parent = <&gic>;
				interrupts = <0 89 4>;
				reg = <0x0 0x80009000 0x0 0x1000>;

				tmp101pl: sensor@4a{
					compatible = "ti,tmp101";
					reg = <0x4a>;
					vs-supply = <&reg_3v3_miami>;
					/* Interrupt not actually used by driver */
					interrupt-parent = <&gpio>;
					interrupts = <82 IRQ_TYPE_LEVEL_LOW>; /* EMIO 4 */
				};
			};

			pl_fan_controller: fan-controller@8000a000 {
				compatible = "topic,axi-pwm-fan-controller";
				reg = <0x0 0x8000a000 0x0 0x1000>;
				nr-fans = <1>;
				clocks = <&zynqmp_clk PL0_REF>;
				topic,initial-pwm = <100>; /* Run at 40% */
				/* Interrupt connected but not actually used in driver */
				interrupt-parent = <&gpio>;
				interrupts = <90 IRQ_TYPE_EDGE_BOTH>; /* EMIO 12 */
			};

			/* GPIO controllers */
			axi_gpio_pmod: gpio@80030000 {
				#gpio-cells = <2>;
				clock-names = "s_axi_aclk";
				clocks = <&zynqmp_clk PL0_REF>;
				compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
				gpio-controller ;
				reg = <0x0 0x80030000 0x0 0x10000>;
				xlnx,all-inputs = <0x0>;
				xlnx,all-inputs-2 = <0x0>;
				xlnx,all-outputs = <0x0>;
				xlnx,all-outputs-2 = <0x0>;
				xlnx,dout-default = <0x00000000>;
				xlnx,dout-default-2 = <0x00000000>;
				xlnx,gpio-width = <0x8>;
				xlnx,gpio2-width = <0x8>;
				xlnx,interrupt-present = <0x0>;
				xlnx,is-dual = <0x1>;
				xlnx,tri-default = <0xFFFFFFFF>;
				xlnx,tri-default-2 = <0xFFFFFFFF>;
			};
		};
	};
};
